<div th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a class="navbar-brand" th:href="@{/}">🏯 Anime Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/products}">Каталог</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/cart}">Корзина</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/orders/my}">Заказы</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Профиль</a></li>
            </ul>

            <form th:action="@{/logout}" method="post" class="d-inline" sec:authorize="isAuthenticated()">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button class="btn btn-outline-light btn-sm" type="submit">Выйти</button>
            </form>

            <a th:href="@{/login}" class="btn btn-outline-light btn-sm ms-2" sec:authorize="isAnonymous()">Войти</a>
        </div>
    </nav>

    <div class="container mt-4">
